* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    font-family: Arial, sans-serif;
    background-color: #EFEAEA;
  }

.container {
    display: grid;
    grid-template-columns: 10% 90%;
    width: 100vw;
    height: 100vh;

    h2{
        margin: 5rem 0 0 0;
        background-color: #E0E0E0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20rem;
        height: 5rem;
        border-radius: 0.5rem;
        text-align: center;
    }
}

.login-details {
    width: 25rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2F1F1;
    border-radius: 1rem;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;

    .btns {
        width: 80%;
        height: 5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        
        p {
            font-size: 0.8rem;
            padding-right: 4rem;
        }
    }

    .loginBtn {
        font-weight: bolder;
        font-size: 1rem;
        width: 7rem;
        text-align: center;
        color: black;
        border-radius: 1rem;
        border: 0;
        cursor: pointer;
    }
    
    .loginBtn:hover {
        opacity: 0.5;
    }
    /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 2.5rem;
    height: 1.5rem;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.2rem;
    width: 1.2rem;
    left: 0.25rem;
    bottom: 0.18rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 0.01rem #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(1rem);
    -ms-transform: translateX(1rem);
    transform: translateX(1rem);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 2rem;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
}


.info {
    display: flex;
    flex-direction: column;
    font-size: medium;
    h3{
        text-align: center;
        padding-top: 1rem;
        color: black;
    }

    label {
        font-size: 0.9rem;
        padding-left: 0.5rem;
        color: black;
    }

    input {
        width: 20rem;
        height: 3rem;
        background: #E0E0E0;
        border: 1px, solid, rgb(255, 255, 255);
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        margin-bottom: 0.5rem;
        color: black;
    }
}


.nav,
.primary-navigation {
    display: block;
    text-align: center;
    grid-column: 1;
    list-style: none;
    width: 30%;
    min-width: 4rem;
    background-color: #D9DADA;
    transition: all 0.5s ease;
    margin: 0;
    z-index: 1000;

    ul {
        height: 100vh;
        display: flex;
        flex-direction: column;
        list-style: none;
        overflow: hidden;
        justify-content: space-between;

        .logout{
          margin: 0 0 1rem 0;
        }
    }
    ul li {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    ul li i {
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    ul ul{
        height: 20%;
    }

    #hamburger{
      margin-top: 1rem;
      text-align: center;

      h2 {
        visibility: hidden;
        color: rgb(0, 0, 0);
      }
    }

    li a, li i {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

    li:hover {
        cursor: pointer;
        opacity: 0.6;
    }
    
    ul li p {
        visibility: hidden;
        color: rgb(0, 0, 0);
        font-size: 1rem;
        margin-left: 0.2rem;
    }
}

.nav, .primary-navigation:hover {
    width: 100%;
    transition: all 0.5s ease-in-out;

    ul ul{
      height: 30%;
    }

    ul li p, ul li h2 {
        visibility: visible;
    }
}
      
  .top-content {
    display: grid;
    grid-column: 2;
    margin: 0;
    height: 100vh;
    width: 100%;
    grid-template-columns: 30% 70%;
    grid-template-rows: 10% 45% 45%;
    overflow: scroll;
        a{
            text-decoration: none;
            color: black;
        }

        h2 {
            grid-row: 1;
            grid-column: 1 / -1;
            color: black;
            margin: auto;
            background-color: transparent;
            width: 0;
            height: 0;
            border-radius: 0;
        }
        .assets table, .accounts table, .history table {
          margin-top: 0; /* Ensure no extra margin at the top */
          vertical-align: baseline; /* Align to the baseline of the container */
          border-collapse: collapse; /* Consistent spacing between rows/columns */
      }
        .assets{
          grid-column: 1;
          grid-row: 2;
          width: 1fr;
          overflow: auto;
          display: flex;
          justify-content: flex-start;

          table {
            width: 100%;
          }
        }

        .accounts {
          position: relative;
          grid-column: 1;
          grid-row: 3;
          overflow: auto;
          width: 1fr;
          display: flex;
          justify-content: flex-start;

          table {
            width: 100%;
          }

          .history {
            grid-column: 2;
            grid-row: 3/-3;
            height: 100%;
            overflow: auto;
            width: 1fr;
            text-align: center;
            display: flex;
            justify-content: flex-start;


            table {
              width: 100%;

              td{
                font-size: 1rem;
              }
            }

          }
        }

        
  }

  .content {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
        a{
            text-decoration: none;
            color: black;
        }


        h2{
            background-color: #E0E0E0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            max-width: 100%;
            height: 2.5rem;
            border-radius: 0.5rem;
            text-align: center;
            padding: 2rem;
            margin-bottom: 3rem;
            font-size: 3rem;
        }
    
        .btns{
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 2rem;
            /* padding: 0.5rem 2rem 0.5rem 2rem; */
            
                i{
                    background-color: #E0E0E0;
                    font-size: 1rem;
                    padding: 0.55rem;
                    border-radius: 0.6rem;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    cursor: pointer;
                }

                #asset-btn {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }

                .asset-icon {
                    border-radius: 0.6rem;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
        }
    
        button, input{
            border: none;
            background-color: white;
            font-size: 1rem;
            width: fit-content;
            padding: 0.5rem;
            border-radius: 0.6rem;
            cursor: pointer;
        }

        input{
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            cursor: text;
        }

        
  }
 
.assets, .accounts {
    margin: 1rem;
    grid-column: 1; 
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    
    table{
        width: fit-content;
        border-collapse: collapse;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        overflow: auto;
        margin: auto;
    }
    td{
        background-color: white;
        font-size: 1rem;
    }
    th {
        padding: 0.5rem 2rem 0.5rem 2rem;
        background-color: #E0E0E0;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }
    h4{
        background-color: #E0E0E0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        max-width: 100%;
        height: 2.5rem;
        border-radius: 0.5rem;
        text-align: center;
        padding: 1rem;
        margin: auto auto 0.5rem auto;
    }
}


.history {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    table{
        border-collapse: collapse;
        width: 70%;
        height: 80%;
        margin: auto;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        overflow: auto;
        }
    td{
        background-color: white;
        font-size: 1rem;
    }
    th {
        padding: 0.5rem 2rem 0.5rem 2rem;
        background-color: #E0E0E0;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        }

    h4 {
        background-color: #E0E0E0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        max-width: 100%;
        height: 2.5rem;
        margin: auto auto 0.5rem auto;
        border-radius: 0.5rem;
        text-align: center;
        padding: 1rem;
    }
}

    /* Full-screen loading overlay */
    .loading-screen {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.9);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
    }
    
    .loading-icon {
      font-size: 5rem;
      animation: spin 1s linear infinite;
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    

      .popup{
        display: none; /* Hidden by default */
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        background-color: #D9DADA;
        box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
        padding: 1.25rem;
        border-radius: 0.5rem;
        width: 20rem;
        text-align: center;
      }
      .popup-header {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0.8rem;
        text-align: center;
      }
      .popup input[type="text"], input[type="password"] {
        margin: auto;
        width: calc(100% - 1.3rem);
        margin-bottom: 0.625rem;
        padding: 0.5rem;
        font-size: 0.9rem;
        border: none;
        background-color: white;
        border-radius: 1rem;
      }
      .popup-actions button {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
        border: none;
        border-radius: 0.2rem;
        cursor: pointer;
      }
      .popup-actions .save-btn {
        background-color: #4caf50;
        color: white;
      }
      .popup-actions .cancel-btn {
        background-color: #f44336;
        color: white;
      }
      .popup-overlay {
        display: none; /* Hidden by default */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 999;
      }
      
        .transfer-popup {
          position: fixed;
          padding: 1rem;
          background-color: white;
          border: 1px solid #ccc;
          border-radius: 0.5rem;
          width: 20rem;
          text-align: center;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 999;
        }
      
      .transfer-popup select {
        margin: 0.5rem 0;
        padding: 0.5rem;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
      }
      
      .popup-actions {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
      }
      
      .popup-actions button {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.3rem;
        cursor: pointer;
      }
      
      .popup-actions .confirm-transfer {
        background-color: #4caf50;
        color: white;
      }
      
      .popup-actions .cancel-transfer {
        background-color: #f44336;
        color: white;
      }
      
      .transfer-btn {
        position: sticky;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        margin: 1rem 0;
        padding: 0.5rem 1.5rem;
        border: none;
        border-radius: 1rem;
        cursor: pointer;
        z-index: 10; /* Ensure it stays above other elements */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }
      
      .assets {
        position: relative;
        padding-bottom: 4rem; /* Ensure enough space below for the button */
      }
      
      .dropdown-container {
        position: relative;
      }
      .dropdown-button {
          background: none;
          border: none;
          font-size: 1rem;
          cursor: pointer;
      }
      .dropdown-list {
          display: none;
          background-color: #f9f9f9;
          border: none;
          margin-top: 5px;
          padding: 5px;
          list-style-type: none;
      }
      .dropdown-list li {
          padding: 5px 10px;
          cursor: pointer;
      }
      .dropdown-list li:hover {
          background-color: #ddd;
      }
